streamlit
streamlit_chat
pypdf
pysqlite3
langchain
langchain_community
transformers
chromadb
easyocr
Pillow
pysqlite3-binary
chroma
huggingface-hub
python-dotenv
pandas
numpy
sentence-transformers
torch
faiss-cpu
